@media only screen and (max-width: 600px) {
    body {
      margin: 0px;
    }
  } 

  #navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: #355ee2;
    top:0;
    left:0;
    width: 100%;
  }

  #navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;    
}

#navbar a:hover {
   
    color: #f2f2f2;
    background-color: red;
}
  #welcome-section {
      height: 100vh;
      background-color: black;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;   

  }

  #welcome-section > h1 {
      color: #f2f2f2;
      text-align: center;
      font-weight: 80px;
      font-size: 40px;
      
  }

  #welcome-section > p {
    color: #f2f2f2;
    text-align: center;
    font-style: italic;
}